<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Proyectos</title>

</head>
<body>
    <h2>Proyectos</h2>
    <div >
        <div th:each="proyecto : ${proyectos}" class="col-sm-4">
            <div >
                <div >
                    <h5  th:text="${proyecto.nombre}">Nombre del proyecto</h5>
                    <p  th:text="${proyecto.descripcion}">Descripcion del proyecto</p>
                    <p ><small  th:text="${proyecto.zona}">Zona del proyecto</small></p>
                    <p ><small  th:text="${proyecto.fecha}">Fecha del proyecto</small></p>
                </div>
            </div>
        </div>
    </div>
    <button th:if="${user.permiso != 'supervisor'}" onclick="location.href='/addproyecto'">Add Proyecto</button>

    <button onclick="location.href='/'" >Volver al inicio</button>
</body>
</html>